body {
	background: url(../img/guide_bg.png);
}

.leadIndex {
	position: absolute;
	left: 0;
	top: 0;
	bottom: 0;
	right: 0;
	margin: auto;
	width: 1200px;
	height: 600px;
}

.leadIndex div {
	display: flex;
	justify-content: center;	
	align-items: center;
}

.leadIndex-font {
	position: absolute;
	width: 100%;
	top: 40px;
	z-index: 100;
}

/*.guide_center {
	margin: auto;
	position: absolute;
	width: 100%;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}*/


